<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap" rel="stylesheet">
    <title>Result</title>
    

</head>
<body>
  <h1 style="font-family: 'M PLUS 1' sans-serif;font-size: 0.5cm; margin-left: 38%">Question Paper Analyzer ----Report</h1>
    <img src="data:image/pgn;base64,{{chart|safe}}">
    <br>
    <br>
    


    <br>
    <br>
    <table style="margin-left: 30px;" class="highlight">
      <thead>
        <tr>
            
            <th style="padding-left: 20px;">Questions</th>
            <th>Similar Question</th>
            
        </tr>
      </thead>
      <tbody>
        {% for key, values in similar.items %}
        <tr>
          
          <td>{{key}}</td>
          <td>{{values}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h3 style="font-family: 'M PLUS 1' sans-serif;font-size: 0.5cm; margin-left: 38%"> Important Questions Based on Keywords</h3>
    <table style="margin-left: 30px;" class="highlight">
      <thead>
        <tr>
            
            <th style="padding-left: 20px;">Important Questions</th>
            
            
        </tr>
      </thead>
      <tbody>
        {% for i in imp %}
        <tr>
         
          <td><b>{{forloop.counter}}</b> {{i}}</td>
          
         
          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    

  
</body>

</html>